<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compose</title>

    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <%- include('partials/header'); -%>
    <h1>Compose</h1>
    <form action="/compose" method="post">
      <label for="heading">Title</label>
      <input class="heading" id="heading" type="text" name="heading" />
      <br />
      <br />
      <label for="composetext">How was your day?</label>
      <textarea
        name="composetext"
        class="composetext"
        id="composetext"
        placeholder="Type here..."
      ></textarea>
      <input id="index" type="hidden" name="index" />
      <button id="publish" class="btn btn-primary" type="submit">
        Publish
      </button>
    </form>

    <%- include('partials/footer'); -%>
    <script>
      const textarea = document.getElementById("composetext");
      textarea.addEventListener("input", adjustSize);
      function adjustSize() {
        this.style.height = "auto";
        this.style.height = this.scrollHeight + "px";
        if (
          this.scrollHeight > parseInt(window.getComputedStyle(this).maxHeight)
        ) {
          this.style.overflowY = "scroll";
        } else {
          this.style.overflowY = "hidden";
        }
      }
    </script>
  </body>
</html>
